<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_id" data-rule="required" min="0" data-source="customer/customer/index" class="form-control selectpage" name="row[customer_id]" type="text" value="{$row.customer_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Room_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-room_number" class="form-control" name="row[room_number]" type="text" value="{$row.room_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_number" class="form-control" name="row[car_number]" type="text" value="{$row.car_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Consumptiondate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-consumptiondate" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[consumptiondate]" type="text" value="{$row.consumptiondate}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Drinks')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-drinks" class="form-control selectpicker" multiple="" name="row[drinks][]">
                {foreach name="drinksList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.drinks"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thali')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-thali" class="form-control" name="row[thali]" type="text" value="{$row.thali|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" min="0" class="form-control" step="0.01" name="row[amount]" type="number" value="{$row.amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mainjson')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <table class="table fieldlist" data-name="row[mainjson]" data-template="row[mainjson]tpl">
                <tr>
                    <td>{:__('mainjson name')}</td>
<td>{:__('mainjson mobile')}</td>
<td>{:__('mainjson wx')}</td>
                    <td width="90">{:__('Operate')}</td>
                </tr>
                <tr><td colspan="4">
                <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a>
                <textarea name="row[mainjson]" class="form-control hide" cols="30" rows="5">{$row.mainjson|htmlentities}</textarea>
                </td></tr>
            </table>
            <script type="text/html" id="row[mainjson]tpl">
                <tr>
                    <td><input type="text" name="<%=name%>[<%=index%>][name]" class="form-control" value="<%=row.name%>"/></td>
<td><input type="text" name="<%=name%>[<%=index%>][mobile]" class="form-control" value="<%=row.mobile%>"/></td>
<td><input type="text" name="<%=name%>[<%=index%>][wx]" class="form-control" value="<%=row.wx%>"/></td>
                    <td width="90">
                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                    </td>
                </tr>
            </script>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Secondaryjson')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <table class="table fieldlist" data-name="row[secondaryjson]" data-template="row[secondaryjson]tpl">
                <tr>
                    <td>{:__('secondaryjson name')}</td>
<td>{:__('secondaryjson mobile')}</td>
<td>{:__('secondaryjson wx')}</td>
                    <td width="90">{:__('Operate')}</td>
                </tr>
                <tr><td colspan="4">
                <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a>
                <textarea name="row[secondaryjson]" class="form-control hide" cols="30" rows="5">{$row.secondaryjson|htmlentities}</textarea>
                </td></tr>
            </table>
            <script type="text/html" id="row[secondaryjson]tpl">
                <tr>
                    <td><input type="text" name="<%=name%>[<%=index%>][name]" class="form-control" value="<%=row.name%>"/></td>
<td><input type="text" name="<%=name%>[<%=index%>][mobile]" class="form-control" value="<%=row.mobile%>"/></td>
<td><input type="text" name="<%=name%>[<%=index%>][wx]" class="form-control" value="<%=row.wx%>"/></td>
                    <td width="90">
                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                    </td>
                </tr>
            </script>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Selfjson')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <table class="table fieldlist" data-name="row[selfjson]" data-template="row[selfjson]tpl">
                <tr>
                    <td>{:__('selfjson name')}</td>
<td>{:__('selfjson mobile')}</td>
<td>{:__('selfjson wx')}</td>
                    <td width="90">{:__('Operate')}</td>
                </tr>
                <tr><td colspan="4">
                <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a>
                <textarea name="row[selfjson]" class="form-control hide" cols="30" rows="5">{$row.selfjson|htmlentities}</textarea>
                </td></tr>
            </table>
            <script type="text/html" id="row[selfjson]tpl">
                <tr>
                    <td><input type="text" name="<%=name%>[<%=index%>][name]" class="form-control" value="<%=row.name%>"/></td>
<td><input type="text" name="<%=name%>[<%=index%>][mobile]" class="form-control" value="<%=row.mobile%>"/></td>
<td><input type="text" name="<%=name%>[<%=index%>][wx]" class="form-control" value="<%=row.wx%>"/></td>
                    <td width="90">
                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                    </td>
                </tr>
            </script>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-other_info" class="form-control editor" rows="5" name="row[other_info]" cols="50">{$row.other_info|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Feedback')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-feedback" class="form-control selectpicker" multiple="" name="row[feedback][]">
                {foreach name="feedbackList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.feedback"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remarks')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remarks" class="form-control editor" rows="5" name="row[remarks]" cols="50">{$row.remarks|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
